body {
    font-family: sans-serif;
    text-align: center;

    
}


h1{
    text-align:10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.img{
    
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

}

nav a{ background-color: rgb(255, 119, 0);
color:white;
padding: 10px;
margin: 10px 20px;
border-radius: 5px;
font-size: 15px;
text-decoration: none;
}

nav a:hover{
    box-shadow: 3px 5px 10px 0 rgb(12, 12, 12);
    font-size: 25px;
   

}


section { padding: 30px; 
margin: 20px;
 border-radius: 10px;
  text-align: center;
  border: 3px solid rgb(255, 119, 0);
   }
